# Eindopdrachten datakwaliteit
*Telt mee in eindoordeel*

<img src = "NVB.png" width = 400 align = 'center'>

## Opdracht 1: Schat de leeftijd van een groep mensen op basis van de voornamen.

Gegeven de lijst met voornamen van mensen:

Jolie, Britt, Ties, Pien, Guus, Nick, Julie, Noud, Renée, Stan, Jana, Lieke, Evi, Aniek, Kiki, Juul, Mathijs, Stijn, Fenne en Femke.

Probeer een zo goed mogelijke schatting van de gemiddelde leeftijd van deze groep personen te geven. Leg uit hoe de schatting is gemaakt en probeer een indicatie te geven van de nauwkeurigheid van de schatting.

Tip. Gebruik de voornamendatabank van het Meertens instituut: https://www.meertens.knaw.nl/nvb/

Hierin kun je een naam zoeken en dan vind je de geboorteaantallen van die naam per jaar. Je kunt dit handmatig doen als je wilt en eventueel Excel gebruiken voor de berekening. Als je programmeertalen en/of webscraping technieken beheerst mag je die ook gebruiken.

Kies bij elke naam het geboortejaar met de meeste geboortes van mensen met de betreffende naam. Dat levert een rij jaartallen op. Neem het gemiddelde van deze geboortejaren, en rond dat af op een geheel getal. De gemiddelde leeftijd van de groep wordt geschat door dit getal van 2019 af te trekken. Deze werkwijze is niet erg nauwkeurig. In dit voorbeeld pakt het redelijk uit. Het berekenen van gemiddelde of mediaan kost inderdaad veel meer moeite, is wel mogelijk, maar levert geen betere schatting op.

## Data prep

In [1]:
pip install BeautifulSoup4 requests

Collecting BeautifulSoup4
  Downloading https://files.pythonhosted.org/packages/1a/b7/34eec2fe5a49718944e215fde81288eec1fa04638aa3fb57c1c6cd0f98c3/beautifulsoup4-4.8.0-py3-none-any.whl (97kB)
     |████████████████████████████████| 102kB 18.6MB/s ta 0:00:01
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.22.0)
Collecting soupsieve>=1.2 (from BeautifulSoup4)
  Downloading https://files.pythonhosted.org/packages/0b/44/0474f2207fdd601bb25787671c81076333d2c80e6f97e92790f8887cf682/soupsieve-1.9.3-py2.py3-none-any.whl
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2019.6.16)
Installing collected packages: soupsieve, BeautifulSoup4
Successfully installed BeautifulSoup4-4.8.0 soupsieve-1.9.3
Note: you may need to restart the kernel to use updated packages.

### Getting source from NVB:

https://www.meertens.knaw.nl/nvb/

In [3]:
source = requests.get('https://www.meertens.knaw.nl/nvb/naam/is/Ard').text

In [6]:
# put it into the soup

# Retrieve first page data

headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.71 Safari/537.36'} #header spoofing
#headers = {"Accept-Language": "en-US, en;q=0.5"}

url = 'https://www.meertens.knaw.nl/nvb/naam/is/Ard'

#connect to website

try:
    from requests import get
    response = get(url, headers=headers)
    print("Connection to ", url, "succesfull")
    print(response.text[:500]) # only first 500 char (from:to) - slice
except:
    print("An error occured.")

Connection to  https://www.meertens.knaw.nl/nvb/naam/is/Ard succesfull
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
  <head>
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Language" content="nl" />
    <meta name="author" content="Meertens Instituut" />
    <meta name="description" lang="nl" content="Voornaam Ard in de Ne

In [11]:
print(html_soup.prettify())

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="nl" xml:lang="nl" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta content="IE=Edge" http-equiv="x-ua-compatible"/>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
  <meta content="nl" http-equiv="Content-Language"/>
  <meta content="Meertens Instituut" name="author"/>
  <meta content="Voornaam Ard in de Nederlandse Voornamenbank" lang="nl" name="description"/>
  <title>
   NVB : voornaam Ard
  </title>
  <script src="/nvb/layout/functions.js" type="text/javascript">
  </script>
  <script src="/nvb/layout/histogram.js" type="text/javascript">
  </script>
  <script src="/nvb/layout/diffusion.js" type="text/javascript">
  </script>
  <script src="/nvb/layout/XMLHttpRequest.js" type="text/javascript">
  </script>
  <!--
    <link rel="stylesheet" type="text/css" href="/nvb/layout/databanken.css"/>
    //-->
  <link href="/nvb/layout/style.css" rel="stylesheet" type="text/css"/>
  <link href="/nvb/layout/histogram.css" rel="stylesheet" type="text/css"/>
  <link href="/cms/templates/mi_hetgelaat/css/reset_old_db_styles.css" rel="stylesheet" type="text/css"/>
  <link href="/cms/templates/mi_hetgelaat/css/style.css" id="hetgelaat-css" rel="stylesheet" type="text/css"/>
  <link href="/cms/templates/mi_hetgelaat/css/styles_extra_jpk.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <!-- Google Tag Manager -->
  <noscript>
   <iframe height="0" src="//www.googletagmanager.com/ns.html?id=GTM-KXNM34" style="display:none;visibility:hidden" width="0">
   </iframe>
  </noscript>
  <script>
   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KXNM34');
  </script>
  <!-- End Google Tag Manager -->
  <div id="wrapper">
   <div class="header" id="header">
    <a href="/">
     Meertens Instituut
    </a>
    →
    <a href="/databanken/">
     Databanken
    </a>
    →
    <a href="/nvb/">
     Voornamen
    </a>
   </div>
   <div id="contentwrapper">
    <div id="content">
     <div id="searchform">
      <form action="/nvb/" method="get" onsubmit="return submit_search('/nvb/',this);">
       <fieldset class="searchform">
        <b>
         Voornaam
        </b>
        <input name="action" type="hidden" value="naam"/>
        <select name="operator" size="1">
         <option label="is gelijk aan" selected="selected" value="is">
          is gelijk aan
         </option>
         <option label="begint met" value="begintmet">
          begint met
         </option>
         <option label="eindigt op" value="eindigtop">
          eindigt op
         </option>
         <option label="bevat" value="bevat">
          bevat
         </option>
         <option label="geavanceerd" value="regexp">
          geavanceerd
         </option>
        </select>
        <input name="key" size="20" type="text" value="Ard"/>
        <input type="submit" value="Zoek!"/>
       </fieldset>
      </form>
      <span id="topnamenlink" style="float: right;">
       <a href="/nvb/topnamen">
        populariteitslijsten
       </a>
      </span>
     </div>
     <div class="title">
      <a href="/nvb/">
       Nederlandse Voornamenbank
      </a>
     </div>
     <div class="namedetails">
      <div class="name">
       Ard
      </div>
     </div>
     <div class="namemenu">
      <div class="item_selected">
       <a href="/nvb/populariteit/naam/Ard">
        populariteit
       </a>
      </div>
      <div class="item">
       <a href="/nvb/verspreiding/naam/Ard">
        verspreiding
       </a>
      </div>
      <div class="item">
       <a href="/nvb/verklaring/naam/Ard">
        verklaring
       </a>
      </div>
      <!--
    <div class="item_disabled">varianten</div>
    //-->
     </div>
     <div class="nameinfo">
      <a name="data">
      </a>
      <!--
  <div class="title">Populariteit 1880-2016</div>
  //-->
      <table class="nameinfo">
       <tr>
        <td class="header">
         m
        </td>
        <td class="smallcolumn">
        </td>
        <td class="header">
         NL totaal (2014)
        </td>
        <td class="smallcolumn">
        </td>
        <td class="header">
         %
        </td>
        <td class="header">
        </td>
        <td class="header">
        </td>
       </tr>
       <tr>
        <td>
         als eerste naam:
        </td>
        <td class="smallcolumn">
        </td>
        <td>
         388
        </td>
        <td class="smallcolumn">
        </td>
        <td>
         0.0053%
        </td>
        <td>
         [
         <a class="selected" href="/nvb/populariteit/absoluut/man/eerstenaam/Ard#data">
          populariteit
         </a>
         ]
        </td>
        <td>
         [
         <a href="/nvb/populariteit/relatief/man/eerstenaam/Ard#data">
          % populariteit
         </a>
         ]
        </td>
       </tr>
       <tr>
        <td>
         als volgnaam:
        </td>
        <td class="smallcolumn">
        </td>
        <td>
         114
        </td>
        <td class="smallcolumn">
        </td>
        <td>
         0.0016%
        </td>
        <td>
         [
         <a href="/nvb/populariteit/absoluut/man/volgnaam/Ard#data">
          populariteit
         </a>
         ]
        </td>
        <td>
         [
         <a href="/nvb/populariteit/relatief/man/volgnaam/Ard#data">
          % populariteit
         </a>
         ]
        </td>
       </tr>
       <tr>
        <td class="spacer" colspan="7">
        </td>
       </tr>
       <tr>
        <td class="header">
         v
        </td>
        <td class="smallcolumn">
        </td>
        <td class="header">
        </td>
        <td class="smallcolumn">
        </td>
        <td class="header">
        </td>
        <td class="header">
        </td>
        <td class="header">
        </td>
       </tr>
       <tr>
        <td>
         als eerste naam:
        </td>
        <td class="smallcolumn">
        </td>
        <td>
         --
        </td>
        <td class="smallcolumn">
        </td>
        <td>
         --
        </td>
        <td>
         [
         <a href="/nvb/populariteit/absoluut/vrouw/eerstenaam/Ard#data">
          populariteit
         </a>
         ]
        </td>
        <td>
         [
         <a href="/nvb/populariteit/relatief/vrouw/eerstenaam/Ard#data">
          % populariteit
         </a>
         ]
        </td>
       </tr>
       <tr>
        <td>
         als volgnaam:
        </td>
        <td class="smallcolumn">
         &lt;
        </td>
        <td>
         5
        </td>
        <td class="smallcolumn">
         &lt;
        </td>
        <td>
         0.0001%
        </td>
        <td>
         [
         <a href="/nvb/populariteit/absoluut/vrouw/volgnaam/Ard#data">
          populariteit
         </a>
         ]
        </td>
        <td>
         [
         <a href="/nvb/populariteit/relatief/vrouw/volgnaam/Ard#data">
          % populariteit
         </a>
         ]
        </td>
       </tr>
      </table>
     </div>
     <div class="popularity">
      <div class="title">
       Populariteit van 'Ard' als eerste naam voor mannen  tussen 1880 en 2016
      </div>
      <div class="histogram" id="histogram">
       <noscript>
        <div>
         <img alt="populariteit" src="/nvb/populariteit/absoluut/man/afbeelding/naam/Ard"/>
        </div>
       </noscript>
      </div>
     </div>
     <script type="text/javascript">
      <!--
        var year_list = new Array(1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016);
        var value_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.86,0,0,0,0,0,0,0,14,17,25,24,17,10,10,11,12,8,10,15,10,11,6,6,6,9,8,9,6,7,5,6,6,10,5.5,5.5,4.5,4.5,8,8,10,7,7,6,7,3,3,2.5,2.5,4.5,4.5,0,3.5,3,3,3,0);
        var stepsize_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7,7,7,7,7,7,7,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,1,1,1,1,1,1,1,1,1,2,2,2,2,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,3,3,3,0);
        var steptotal_value_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,6,6,6,6,6,6,11,10,14,17,25,24,17,10,10,11,12,8,10,15,10,11,6,12,12,9,8,9,6,7,5,6,6,10,11,11,9,9,8,8,10,7,7,6,7,6,6,5,5,9,9,7,7,9,9,9,0);
        var steptotal_approximation_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6.3,6.27,6.24,6.23,6.22,6.21,6.19,11.33,10.25,14.28,17.32,25.37,24.3,17.23,10.12,10.14,11.13,12.11,8.07,10.11,15.13,10.03,11.07,6.01,12,12,9,8.01,9.01,6.02,7.01,5.01,6.01,6,10,11,11,9,9,8,8,10,7,7,6,7,6.02,6,5,5,9.06,9.11,7.07,7.11,9.18,9,9,0);
        var approximation_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.88,0,0.89,0.89,0.9,0.91,0.89,11.33,10.25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3.58,0,0,0,0,0);
        histogram = new histogram("histogram",1880,2020,0,32,10,10,20,50);
        histogram.setScaleX(1880,10,1890,10)
        histogram.setScaleY(0,6,0,6)
        for(var i=0;i<year_list.length;i++) {
          if((value_list[i]>0) || (steptotal_approximation_list[i]>0)) {
            if(stepsize_list[i]>1) {
              histogram.addItem(year_list[i],value_list[i],1,1,year_list[i]+': '+steptotal_value_list[i]+' geboortes in '+stepsize_list[i]+' jaar');
            } else {
              histogram.addItem(year_list[i],value_list[i],1,1,year_list[i]+': '+value_list[i]+' geboortes');
            }
          }
          if((approximation_list[i]>0) || (steptotal_approximation_list[i]>0)) {
            if(stepsize_list[i]>1) {
              histogram.addItem(year_list[i],approximation_list[i],1,0,year_list[i]+' (schatting) : '+Math.round(steptotal_approximation_list[i])+' geboortes in '+stepsize_list[i]+' jaar');
            } else {
              histogram.addItem(year_list[i],approximation_list[i],1,0,year_list[i]+' (schatting) : '+Math.round(approximation_list[i])+' geboortes');
            }
          }
        }
        histogram.addPrintButton('/nvb/populariteit/absoluut/man/afbeelding/naam/Ard','printversie');
      //-->
     </script>
    </div>
   </div>
   <div class="footer" id="footer">
    <div id="footertext">
     <strong>
      MEERTENS INSTITUUT
     </strong>
     Postbus 94264, 1090 GG Amsterdam.
          Telefoon +31 (0)20 4628500.
          Fax +31 (0)20 4628555.
     <span class="email">
      <script type="text/javascript">
       <!--
            var part1 = "nvb";
            var part2 = "meertens.knaw.nl?subject=Nederlandse Voornamenbank";
            var part3 = "nvb"+"@"+"meertens.knaw.nl";
            document.write('<a href="mai' + 'lto:' + part1 + '@' + part2 + '">');
            document.write(part3 + '</a>');
            // -->
      </script>
     </span>
    </div>
    <div id="footercopyright">
     © 2000-2019
     <a href="http://www.meertens.knaw.nl/">
      KNAW / Meertens Instituut
     </a>
    </div>
    <div id="disclaimer">
     <a href="http://www.meertens.knaw.nl/soundbites/disclaimer.php">
      disclaimer
     </a>
    </div>
   </div>
  </div>
  <script src="/nvb/../cms/templates/mi_hetgelaat/js/meertens.databanken.js">
  </script>
 </body>
</html>

### Parsing out the information from the table

In [7]:
from bs4 import BeautifulSoup
import requests

In [8]:
html_soup = BeautifulSoup(response.text, 'html.parser')
type(html_soup)

bs4.BeautifulSoup

In [39]:
# Explore resulting HTML

content = html_soup.find('div', id = 'content')
print(type(content))
print(len(content))
content

<class 'bs4.element.Tag'>
15

<div id="content">
<div id="searchform">
<form action="/nvb/" method="get" onsubmit="return submit_search('/nvb/',this);">
<fieldset class="searchform">
<b>Voornaam</b>
<input name="action" type="hidden" value="naam"/>
<select name="operator" size="1">
<option label="is gelijk aan" selected="selected" value="is">is gelijk aan</option>
<option label="begint met" value="begintmet">begint met</option>
<option label="eindigt op" value="eindigtop">eindigt op</option>
<option label="bevat" value="bevat">bevat</option>
<option label="geavanceerd" value="regexp">geavanceerd</option>
</select>
<input name="key" size="20" type="text" value="Ard"/>
<input type="submit" value="Zoek!"/>
</fieldset>
</form>
<span id="topnamenlink" style="float: right;"><a href="/nvb/topnamen">populariteitslijsten</a></span>
</div> <div class="title"><a href="/nvb/">Nederlandse Voornamenbank</a></div>
<div class="namedetails">
<div class="name">Ard</div>
</div>
<div class="namemenu">
<div class="item_selected"><a href="/nvb/populariteit/naam/Ard">populariteit</a></div>
<div class="item"><a href="/nvb/verspreiding/naam/Ard">verspreiding</a></div>
<div class="item"><a href="/nvb/verklaring/naam/Ard">verklaring</a></div>
<!--
    <div class="item_disabled">varianten</div>
    //-->
</div>
<div class="nameinfo">
<a name="data"></a>
<!--
  <div class="title">Populariteit 1880-2016</div>
  //-->
<table class="nameinfo">
<tr>
<td class="header">m</td>
<td class="smallcolumn"></td>
<td class="header">NL totaal (2014)</td>
<td class="smallcolumn"></td>
<td class="header">%</td>
<td class="header"></td>
<td class="header"></td>
</tr>
<tr>
<td>als eerste naam:</td>
<td class="smallcolumn"></td>
<td>388</td>
<td class="smallcolumn"></td>
<td>0.0053%</td>
<td>[<a class="selected" href="/nvb/populariteit/absoluut/man/eerstenaam/Ard#data">populariteit</a>]</td>
<td>[<a href="/nvb/populariteit/relatief/man/eerstenaam/Ard#data">% populariteit</a>]</td>
</tr>
<tr>
<td>als volgnaam:</td>
<td class="smallcolumn"></td>
<td>114</td>
<td class="smallcolumn"></td>
<td>0.0016%</td>
<td>[<a href="/nvb/populariteit/absoluut/man/volgnaam/Ard#data">populariteit</a>]</td>
<td>[<a href="/nvb/populariteit/relatief/man/volgnaam/Ard#data">% populariteit</a>]</td>
</tr>
<tr>
<td class="spacer" colspan="7"></td>
</tr>
<tr>
<td class="header">v</td>
<td class="smallcolumn"></td>
<td class="header"></td>
<td class="smallcolumn"></td>
<td class="header"></td>
<td class="header"></td>
<td class="header"></td>
</tr>
<tr>
<td>als eerste naam:</td>
<td class="smallcolumn"></td>
<td>--</td>
<td class="smallcolumn"></td>
<td>--</td>
<td>[<a href="/nvb/populariteit/absoluut/vrouw/eerstenaam/Ard#data">populariteit</a>]</td>
<td>[<a href="/nvb/populariteit/relatief/vrouw/eerstenaam/Ard#data">% populariteit</a>]</td>
</tr>
<tr>
<td>als volgnaam:</td>
<td class="smallcolumn">&lt;</td>
<td>5</td>
<td class="smallcolumn">&lt;</td>
<td>0.0001%</td>
<td>[<a href="/nvb/populariteit/absoluut/vrouw/volgnaam/Ard#data">populariteit</a>]</td>
<td>[<a href="/nvb/populariteit/relatief/vrouw/volgnaam/Ard#data">% populariteit</a>]</td>
</tr>
</table>
</div>
<div class="popularity">
<div class="title">Populariteit van 'Ard' als eerste naam voor mannen  tussen 1880 en 2016</div>
<div class="histogram" id="histogram">
<noscript>
<div><img alt="populariteit" src="/nvb/populariteit/absoluut/man/afbeelding/naam/Ard"/></div>
</noscript>
</div>
</div>
<script type="text/javascript">
      <!--
        var year_list = new Array(1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016);
        var value_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.86,0,0,0,0,0,0,0,14,17,25,24,17,10,10,11,12,8,10,15,10,11,6,6,6,9,8,9,6,7,5,6,6,10,5.5,5.5,4.5,4.5,8,8,10,7,7,6,7,3,3,2.5,2.5,4.5,4.5,0,3.5,3,3,3,0);
        var stepsize_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7,7,7,7,7,7,7,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,1,1,1,1,1,1,1,1,1,2,2,2,2,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,3,3,3,0);
        var steptotal_value_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,6,6,6,6,6,6,11,10,14,17,25,24,17,10,10,11,12,8,10,15,10,11,6,12,12,9,8,9,6,7,5,6,6,10,11,11,9,9,8,8,10,7,7,6,7,6,6,5,5,9,9,7,7,9,9,9,0);
        var steptotal_approximation_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6.3,6.27,6.24,6.23,6.22,6.21,6.19,11.33,10.25,14.28,17.32,25.37,24.3,17.23,10.12,10.14,11.13,12.11,8.07,10.11,15.13,10.03,11.07,6.01,12,12,9,8.01,9.01,6.02,7.01,5.01,6.01,6,10,11,11,9,9,8,8,10,7,7,6,7,6.02,6,5,5,9.06,9.11,7.07,7.11,9.18,9,9,0);
        var approximation_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.88,0,0.89,0.89,0.9,0.91,0.89,11.33,10.25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3.58,0,0,0,0,0);
        histogram = new histogram("histogram",1880,2020,0,32,10,10,20,50);
        histogram.setScaleX(1880,10,1890,10)
        histogram.setScaleY(0,6,0,6)
        for(var i=0;i<year_list.length;i++) {
          if((value_list[i]>0) || (steptotal_approximation_list[i]>0)) {
            if(stepsize_list[i]>1) {
              histogram.addItem(year_list[i],value_list[i],1,1,year_list[i]+': '+steptotal_value_list[i]+' geboortes in '+stepsize_list[i]+' jaar');
            } else {
              histogram.addItem(year_list[i],value_list[i],1,1,year_list[i]+': '+value_list[i]+' geboortes');
            }
          }
          if((approximation_list[i]>0) || (steptotal_approximation_list[i]>0)) {
            if(stepsize_list[i]>1) {
              histogram.addItem(year_list[i],approximation_list[i],1,0,year_list[i]+' (schatting) : '+Math.round(steptotal_approximation_list[i])+' geboortes in '+stepsize_list[i]+' jaar');
            } else {
              histogram.addItem(year_list[i],approximation_list[i],1,0,year_list[i]+' (schatting) : '+Math.round(approximation_list[i])+' geboortes');
            }
          }
        }
        histogram.addPrintButton('/nvb/populariteit/absoluut/man/afbeelding/naam/Ard','printversie');
      //-->
      </script>
</div>

In [28]:
script = content.script
script

<script type="text/javascript">
      <!--
        var year_list = new Array(1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016);
        var value_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.86,0,0,0,0,0,0,0,14,17,25,24,17,10,10,11,12,8,10,15,10,11,6,6,6,9,8,9,6,7,5,6,6,10,5.5,5.5,4.5,4.5,8,8,10,7,7,6,7,3,3,2.5,2.5,4.5,4.5,0,3.5,3,3,3,0);
        var stepsize_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7,7,7,7,7,7,7,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,1,1,1,1,1,1,1,1,1,2,2,2,2,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,3,3,3,0);
        var steptotal_value_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,6,6,6,6,6,6,11,10,14,17,25,24,17,10,10,11,12,8,10,15,10,11,6,12,12,9,8,9,6,7,5,6,6,10,11,11,9,9,8,8,10,7,7,6,7,6,6,5,5,9,9,7,7,9,9,9,0);
        var steptotal_approximation_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6.3,6.27,6.24,6.23,6.22,6.21,6.19,11.33,10.25,14.28,17.32,25.37,24.3,17.23,10.12,10.14,11.13,12.11,8.07,10.11,15.13,10.03,11.07,6.01,12,12,9,8.01,9.01,6.02,7.01,5.01,6.01,6,10,11,11,9,9,8,8,10,7,7,6,7,6.02,6,5,5,9.06,9.11,7.07,7.11,9.18,9,9,0);
        var approximation_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.88,0,0.89,0.89,0.9,0.91,0.89,11.33,10.25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3.58,0,0,0,0,0);
        histogram = new histogram("histogram",1880,2020,0,32,10,10,20,50);
        histogram.setScaleX(1880,10,1890,10)
        histogram.setScaleY(0,6,0,6)
        for(var i=0;i<year_list.length;i++) {
          if((value_list[i]>0) || (steptotal_approximation_list[i]>0)) {
            if(stepsize_list[i]>1) {
              histogram.addItem(year_list[i],value_list[i],1,1,year_list[i]+': '+steptotal_value_list[i]+' geboortes in '+stepsize_list[i]+' jaar');
            } else {
              histogram.addItem(year_list[i],value_list[i],1,1,year_list[i]+': '+value_list[i]+' geboortes');
            }
          }
          if((approximation_list[i]>0) || (steptotal_approximation_list[i]>0)) {
            if(stepsize_list[i]>1) {
              histogram.addItem(year_list[i],approximation_list[i],1,0,year_list[i]+' (schatting) : '+Math.round(steptotal_approximation_list[i])+' geboortes in '+stepsize_list[i]+' jaar');
            } else {
              histogram.addItem(year_list[i],approximation_list[i],1,0,year_list[i]+' (schatting) : '+Math.round(approximation_list[i])+' geboortes');
            }
          }
        }
        histogram.addPrintButton('/nvb/populariteit/absoluut/man/afbeelding/naam/Ard','printversie');
      //-->
      </script>

In [38]:
# find all years on the histogram - div VerticalScaleMarkerTitle in var year_list

import re #RegEx

yearlist = re.search('var year_list = (?P<token>.*);', script.string)
if yearlist:
    print(yearlist.group('token'))

new Array(1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016)

In [40]:
# find all values on the histogram - div item0 and item1 in var vaulue_list

#import re #RegEx

valuelist = re.search('var value_list = (?P<token>.*);', script.string)
if valuelist:
    print(valuelist.group('token'))

new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.86,0,0,0,0,0,0,0,14,17,25,24,17,10,10,11,12,8,10,15,10,11,6,6,6,9,8,9,6,7,5,6,6,10,5.5,5.5,4.5,4.5,8,8,10,7,7,6,7,3,3,2.5,2.5,4.5,4.5,0,3.5,3,3,3,0)

## manual check of the results

Carefull: some value results are not integer values. This is due to the way they are measured and displayed in the histogram - these are estimates over two or more years. i.e. in 2009 and 2010 the estimate was 9 over 2 years. So 2009 and 2010 both have the value of 4.5.

In [51]:
# slicing the strings year_list

print(yearlist)
type(yearlist)
year_list = yearlist.group('token')
year_list[10:-1]

<_sre.SRE_Match object; span=(20, 732), match='var year_list = new Array(1880,1881,1882,1883,188>

'1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016'

In [53]:
# slicing the strings value_list

value_list = valuelist.group('token')[10:-1]
value_list

'0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.86,0,0,0,0,0,0,0,14,17,25,24,17,10,10,11,12,8,10,15,10,11,6,6,6,9,8,9,6,7,5,6,6,10,5.5,5.5,4.5,4.5,8,8,10,7,7,6,7,3,3,2.5,2.5,4.5,4.5,0,3.5,3,3,3,0'

In [73]:
# split the year_list string and put in a list
years = year_list[10:-1].split(",")

In [74]:
years

['1880',
 '1881',
 '1882',
 '1883',
 '1884',
 '1885',
 '1886',
 '1887',
 '1888',
 '1889',
 '1890',
 '1891',
 '1892',
 '1893',
 '1894',
 '1895',
 '1896',
 '1897',
 '1898',
 '1899',
 '1900',
 '1901',
 '1902',
 '1903',
 '1904',
 '1905',
 '1906',
 '1907',
 '1908',
 '1909',
 '1910',
 '1911',
 '1912',
 '1913',
 '1914',
 '1915',
 '1916',
 '1917',
 '1918',
 '1919',
 '1920',
 '1921',
 '1922',
 '1923',
 '1924',
 '1925',
 '1926',
 '1927',
 '1928',
 '1929',
 '1930',
 '1931',
 '1932',
 '1933',
 '1934',
 '1935',
 '1936',
 '1937',
 '1938',
 '1939',
 '1940',
 '1941',
 '1942',
 '1943',
 '1944',
 '1945',
 '1946',
 '1947',
 '1948',
 '1949',
 '1950',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1959',
 '1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016']

In [59]:
# split the value_list string and put in a list

values = value_list.split(",")
values

['0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0.86',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '14',
 '17',
 '25',
 '24',
 '17',
 '10',
 '10',
 '11',
 '12',
 '8',
 '10',
 '15',
 '10',
 '11',
 '6',
 '6',
 '6',
 '9',
 '8',
 '9',
 '6',
 '7',
 '5',
 '6',
 '6',
 '10',
 '5.5',
 '5.5',
 '4.5',
 '4.5',
 '8',
 '8',
 '10',
 '7',
 '7',
 '6',
 '7',
 '3',
 '3',
 '2.5',
 '2.5',
 '4.5',
 '4.5',
 '0',
 '3.5',
 '3',
 '3',
 '3',
 '0']

In [76]:
#Create a DataFrame object
import pandas as pd 

df = pd.DataFrame(columns=years) #create dataframe df with years as columns (137)
df.loc[len(df)] = values #add values as a row in the dataframe

In [105]:
df

,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,0,0,0,0,0,0,0,0,0,0,...,2.5,2.5,4.5,4.5,0,3.5,3,3,3,0

In [103]:
#Append data to the dataframe

df2 = pd.DataFrame(columns=years) #create dataframe df with years as columns (137)
df2.loc[len(df2)] = values #add values as a row in the dataframe

df2

,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,0,0,0,0,0,0,0,0,0,0,...,2.5,2.5,4.5,4.5,0,3.5,3,3,3,0

In [101]:
df3 = df.append(df2, ignore_index=True)

In [106]:
df3

,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,0,0,0,0,0,0,0,0,0,0,...,2.5,2.5,4.5,4.5,0,3.5,3,3,3,0


<hr>

## Opdracht 2: Kwaliteitsdimensies en kwaliteitsindicatoren

Neem het projectplan dat u zelf heeft gemaakt bij de eindopdracht van week 1.

Voeg aan dat projectplan een beschrijving toe van de kwaliteit van een van de big databronnen die als input worden gebruikt. Doe dit door uitwerking van de vijf kwaliteitsdimensies:
Relevantie,
Nauwkeurigheid en Betrouwbaarheid,
Actualiteit en Punctualiteit,
Samenhang en Vergelijkbaarheid,
Toegankelijkheid en Duidelijkheid.
Definieer een kwaliteitsindicator voor deze big databron volgens het sjabloon uit de presentatie over kwaliteit. Maak zelf een kwaliteitsindicator die past bij de big databron uit het eigen onderzoek. Volg daarbij het sjabloon dat in de introductiefilm van week 4 is gebruikt bij de kwaliteitsindicator ‘Tijdigheid’ op pagina 5.